<div [formGroup]="autoFormGroup">
  <div class="form-group">
    <label for="title"> title</label>
    <input id="title" class="form-control" type="text" formControlName="titleCtl" />

  </div>
  <div class="form-group">
    <label for="name"> title</label>
    <input id="name" class="form-control" type="text" formControlName="nameCtl" />

  </div>
  <div formGroupName="addressGroup">
    <div class="form-group">
      <label for="street"> title</label>
      <input id="street" class="form-control" type="text" formControlName="streetCtl" />

    </div>
    <div class="form-group">
      <label for="town"> title</label>
      <input id="town" class="form-control" type="text" formControlName="townCtl" />
    </div>


    <div class="form-group" *ngFor="let point of points.controls;let i=index">
      <label for="i"> title {{i}}</label>
      <input id="i" class="form-control" type="text" formControlName="i" />
    </div>


  </div>

</div>

<div class="form-group">
  <button class="btn btn-primary" (click)="sendForm()" [disabled]="!autoFormGroup.valid">Send form</button>
  <button class="btn btn-secondary ml-4" (click)="resetForm()">Reset</button>
  <button class="btn btn-success ml-4" (click)="patchForm()">Patch value</button>
  <button class="btn btn-outline-dark ml-4" (click)="addFormControl()">Add dynamic control</button>
</div>
<div>
  {{ autoFormGroup.status }}
</div>

<div>
  {{ JSON.stringify( autoFormGroup.value)}}
</div>
<app-child-one-container>
  <app-child-one>

  </app-child-one>
</app-child-one-container>
